@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Domine:wght@400..700&display=swap');


#content {
max-width:1600px ;
margin: 0 auto;
}

nav a {
    text-align: center;
    color:#000;
    text-decoration: none;
}

#hero-msg h4 {
    text-align: center;
}

#hero-msg h1 {
    text-align: center;
}

h4 {
    text-align: center;
    color: black;
}

.button-box{
    text-align: center;
}

main section {
    text-align: center;
}

body{
    background-color: rgb(101, 158, 153);
    font-family: Courier, monospace;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header{
    background-color: rgb(236, 230, 202);
}
nav a{
    background-color: rgba(231, 213, 163, 0);
    color:rgb(17, 53, 129);
    padding: 35px;
}
nav a:hover {
   background-color: rgb(57, 141, 167);
   color:rgb(0, 0, 0)
}

.book, .join {
    background-color: rgb(8, 49, 63);
    color: rgb(238, 229, 229);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 50px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover{
    background-color: grey;
    color: black;
}
.join:hover {
     background-color: grey;
     color: black;
}

#background {
    background-color: rgb(238, 216, 144);
    height: 725px;
    margin-bottom: 200px;
}

.msg{
    background-color: rgb(199, 184, 141);
    line-height: 1.5em; 
    padding: 35px;
    margin-top: 200px;
}

footer{
    background-color: rgb(199, 184, 141);
    color: #000;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    background-color: rgba(87, 197, 216, 0.349);
    color: black;
    font-family:"Cormorant Garamond", serif ;
    font-size: 2em;
    margin-top: 10px;
}

.join:hover{
    background-color: rgb(105, 153, 196);
    color: black;
}

.msg h2 {
    color: black;
}

.msg p{
    color: #000;
    font-family: "Domine", sans-serif ;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover{
    color:#000
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

#logo_link {
    padding-left: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card{
    margin: 200px 0;
}

.rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid  rgb(238, 216, 144);
}

main section img{
    box-sizing: border-box;
}

.mountains{
    /* margin: 0 auto; */
    margin-right: 20px;
}